h1 {
  font-family: "Quicksand", serif;
}

/* navbar styles */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 170px;
  margin-right: 170px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-name {
  font-family: "Quicksand", serif;
  font-size: 32px;
  font-weight: bold;
  margin-left: 12px;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
  margin-right: 30px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-family: "Quicksand", serif;
  font-size: 20px;
  font-weight: bold;
}

.nav-col-1 {
  color: #fea301;
}

.nav-col-2 {
  color: #01acfd;
}

.nav-col-3 {
  color: #05d4df;
}

.nav-col-4 {
  color: #5d58ef;
}

.nav-btn {
  background-color: #fea301;
  color: white;
  font-family: "Quicksand", serif;
  font-size: 20px;
  font-weight: 600;
  border-style: none;
  padding: 2px 60px;
  border-radius: 12px;
  width: 197px;
  height: 50px;
}

.icon-show {
  display: none;
  /* margin-right: 100px; */
}

.hr-set {
  height: 1px;
  border: none;
  background-color: #fea301;
  display: none;
}

/* banner styles */

.spn-1 {
  color: #fea301;
  font-family: "Quicksand", serif;
  font-size: 56px;
  font-weight: bold;
}

.spn-3 {
  color: #01acfd;
  font-family: "Quicksand", serif;
  font-size: 56px;
  font-weight: bold;
}
.banner-title {
  font-family: "Quicksand", serif;
  font-size: 56px;
  font-weight: bold;
}
.banner-description {
  font-family: "Quicksand", serif;
  font-size: 20px;
  margin-top: -30px;
}
.btn-enroll {
  background-color: black;
  color: white;
  width: 197px;
  height: 50px;
  border-radius: 12px;
  font-family: "Quicksand", serif;
  font-size: 20px;
  font-weight: bold;
}

.banner-section {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.banner-img {
  width: 100%;
}

/* standard section styles */
.standard-section {
  background-image: url(../assets/bg.png);
  margin-top: 80px;
}
.standard-title {
  text-align: center;
  font-family: "Quicksand", serif;
  font-size: 46px;
  font-weight: bold;
}
.standard-container {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.container-item {
  height: 420px;
  width: 370px;
  border-radius: 18px;
}
.linear-1 {
  background-image: linear-gradient(#def5ff, white);
}
.linear-2 {
  background-image: linear-gradient(#fff4dc, white);
}
.linear-3 {
  background-image: linear-gradient(#f2e8ff, white);
}
.item-title {
  font-family: "Quicksand", serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.title-description {
  font-family: "Quicksand", serif;
  font-size: 15px;
  color: #808080;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.btn-text-1 {
  text-align: center;
  color: #64c8ff;
  margin-top: 50px;
  font-family: "Quicksand", serif;
  font-size: 15px;
  font-weight: bold;
}
.btn-text-2 {
  text-align: center;
  color: #f0aa00;
  margin-top: 50px;
  font-family: "Quicksand", serif;
  font-size: 15px;
  font-weight: bold;
}
.btn-text-3 {
  text-align: center;
  color: #8700ff;
  margin-top: 50px;
  font-family: "Quicksand", serif;
  font-size: 15px;
  font-weight: bold;
}
.font-size {
  font-size: 24px;
  color: white;
  background-color: #fea301;
  height: 20px;
  width: 40px;
  text-align: center;
  padding: 22px 12px;
  border-radius: 100px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
}
/* responsive styles */

@media screen and (max-width: 576px) {
  .brand-name,
  .nav-item,
  .nav-btn {
    display: none;
  }
  .icon-show,
  .hr-set {
    display: block;
  }
  .navbar {
    margin-left: 5px;
  }
  .icon-show {
    margin-left: 230px;
  }
  .banner-section {
    flex-direction: column-reverse;
  }
  .banner-container {
    height: 252px;
    width: 357px;
    text-align: center;
    margin-top: -130px;
  }
  .banner-title,
  .spn-1,
  .spn-3 {
    font-size: 32px;
  }
  .banner-description {
    margin-top: 18px;
  }
  .standard-section {
    margin-top: 220px;
  }
  .standard-container {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .icons {
    display: none;
  }
}
